.App {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
}

.QuoteBox {
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 50px, 60px;
}

.TextQuote {
  padding: 20px;
  text-align: center;
  height: auto;
  font-weight: 500;
  font-style: italic;
  font-size: 2rem;
}

.Author {
  margin: auto;
  font-size: 1.5rem;
}

.Links {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}

.Icon {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.Button {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

html, body, #root, #root > div {
  height: 100%;
}